  <configuration>
      <system.webServer>
        <rewrite>
          <rules>
            <rule name="Next.js">
              <match url="/*" />
              <action type="Rewrite" url="server.js" />
            </rule>
          </rules>
        </rewrite>
        <iisnode nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;" 
                      interceptor="&quot;%programfiles%\\iisnode\\interceptor.js&quot;" />
        <handlers>
          <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>
      </system.webServer>
    </configuration>